.slideBody {
    overflow: hidden;
}

.slideBody * {
    color: white;
    margin: 0;
    padding: 0;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input[name="r"] {
    display: none;
}

.slides .content {
    width: 20%;
    transition: 0.5s;
}