.layout * {
    vertical-align: baseline;
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.layout article {
    background: rgba(33, 32, 32, 1);
    bottom: -300px;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.layout article .icone {
    font-size: 35px;
    width: 100%;
    text-align: center;
    padding: 0.25em 0;
}

.layout article .info {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.layout article .info svg {
    width: 20%;
    color: rgba(16, 16, 16, 1);
}

.layout article .info .text {
    overflow-x: scroll;
    width: 80%;
    white-space: nowrap;
}

.layout article .info .text h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.body article .info .text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    padding-top: 0.25em;
}

.layout article .botoes {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em 0;
    overflow: hidden;
    width: 70%;
}

.layout article .botoes span {
    float: left;
    text-align: center;
}

.layout article .botoes span:nth-child(odd) {
    width: 25%;
}

.layout article .botoes span:nth-child(even) {
    width: 50%;
}

.layout article .botoes span:nth-child(odd) svg {
    font-size: 20px;
}

.layout article .botoes span:nth-child(even) svg {
    background: white;
    border-radius: 50%;
    color: black;
    height: 40px;
    padding: 0.75em;
    width: 40px;
}

.layout article .tempo {
    margin: auto;
    width: 80%;
}

.layout article .tempo input {
    margin: 0.5em 0;
    width: 100%;
}

.layout article .tempo div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

@keyframes slideUpWithBottom {
    from {
        bottom: -500px;
    }

    to {
        bottom: 0;
    }
}