/* CONTROLES DE AUDIO*/
.miniInfo * {
    box-sizing: border-box;
    border-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.miniInfo {
    bottom: 80px;
    position: fixed;
    width: 100%;
}

.miniInfo .aling {
    background: rgb(20, 20, 20);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    width: 98%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.miniInfo .aling .info {
    padding: 0.5em;
}

.miniInfo .aling .info input[type='checkbox'] {
    display: none;
}

.miniInfo .aling .info .text {
    float: left;
    width: 80%;
}

.miniInfo .aling .info .text p {
    margin-top: 0.25em;
    opacity: 0.65;
}

.miniInfo .aling .info .icone {
    float: right;
    text-align: center;
    width: 20%;
}

.miniInfo progress {
    background: black;
    border: none;
    border-radius: 5px;
    color: white;
    height: 1px;
    width: 98%;
}