.listBody * {
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.listBody {
    list-style-type: none;
    overflow-y: scroll;
    width: 100%;
}

.listBody .align {
    margin: auto;
    padding-bottom: 0.75em;
    width: 95%;
}

.listBody li {
    padding: 0.85em 0;
    overflow: hidden;
    transition: all 0.5s;
}

.listBody li div {
    float: left;
}

.listBody li .funcs,
.listBody li .type {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 10%;
}

.listBody li .type {
    opacity: 0.5;
}

.listBody li .text {
    overflow: scroll;
    width: 78%;
    margin: 0 0.5%;
}

.listBody li .text h3 {
    font-size: 16px;
    margin-bottom: 0.15em;
}

.listBody li .text p {
    font-size: 16px;
    opacity: 0.65;
}