/* CONTROLES DE AUDIO*/
.miniInfo * {
    box-sizing: border-box;
    border-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.miniInfo {
    bottom: 80px;
    position: fixed;
    width: 100%;
}

.miniInfo .aling {
    background: rgb(20, 20, 20);
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    width: 98%;
}

.miniInfo .aling .info {
    padding: 0.5em;
}

.miniInfo .aling .info input[type='checkbox'] {
    display: none;
}

.miniInfo .aling .info .text {
    float: left;
    width: 80%;
}

.miniInfo .aling .info .text p {
    margin-top: 0.25em;
    opacity: 0.65;
}

.miniInfo .aling .info .icone {
    float: right;
    text-align: center;
    width: 20%;
}

.miniInfo progress {
    background: black;
    border: none;
    border-radius: 5px;
    color: white;
    height: 1px;
    width: 98%;
}

/*----------------------------------------------------------------------------------------------*/
.control {
    animation-duration: 0.25s;
    animation-name: slideUp;
    background: rgb(20, 20, 20);
    background: linear-gradient(to top, rgba(20, 20, 20, 1) 60%, rgba(20, 20, 20, 0.75) 80%, rgba(20, 20, 20, 0.5) 100%);
    bottom: 0;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.control .controlHead {
    display: flex;
    font-size: 35px;
    justify-content: center;
    padding: 0.25em 0;
    width: 100%;
}

.control .controlBody {
    max-width: 85%;
    margin: auto;
}

.controlBody .botoes {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0.5em 0;
}

.controlBody .botoes span {
    float: left;
    text-align: center;
}

.controlBody .botoes span:nth-child(odd) {
    font-size: 20px;
    margin: 0 0.5%;
    width: 24%;
}

.controlBody .botoes span:nth-child(even) {
    width: 50%;
}

.controlBody .botoes span:nth-child(even) svg {
    background: white;
    border-radius: 50%;
    color: black;
    font-size: 50px;
    height: 50px;
    padding: 0.25em;
    width: 50px;
}

.controlBody .barProgress input {
    padding-top: 0.75em;
    width: 100%;
}

.controlBody .barProgress div {
    display: flex;
    justify-content: space-between;
}

@keyframes slideUp {
    from {
        bottom: -500px
    }

    to {
        bottom: 0;
    }
}