.layout {
    align-items: center;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin-top: -300%;
    padding: 0;
    position: fixed;
    top: 0;
    transition: all .5s;
    width: 100%;
    z-index: 100;
}

.modal {
    text-align: center;
    border-radius: 10px;
    background: rgba(33, 33, 33, 1);
    color: rgba(255, 255, 255, 1);
    height: 200px;
    padding: 0.5em;
    width: 80%;
}

.modal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
    text-decoration: none;
}

.modalHead {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    width: 100%;
}

.modalHead label {
    width: 70%;
}

.modalHead span {
    font-size: 35px;
    text-align: end;
    width: 30%;
}

.modalBody h2 {
    padding: 0.5em;
}

.modalBody label {
    border: 2px solid;
    border-radius: 5px;
    padding: 0.5em 2em;
}

.modal input[type='file'] {
    display: none;
}